.avatar,
.placeholder {
  cursor: pointer;
  background-color: var(--mantine-color-lime-3);
  color: var(--mantine-color-black);
  transition: background-color 200ms ease;
}

.avatar:hover,
.avatar:hover .placeholder {
  background-color: var(--mantine-color-lime-5);
}

.navLink {
  text-decoration: none;
  color: var(--mantine-color-black);
  transition: color ease-in 200ms;
}

.navLink:hover {
  color: var(--mantine-color-violet-6);
}

.navLink[data-status='active'] {
  color: var(--mantine-color-black);
  font-weight: 600;
  border-bottom: 2px solid var(--mantine-color-lime-5);
}
